DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=books_db

DATABASE_URL=postgres://postgres:postgres@localhost:5432/books_db?sslmode=disable
DATABASE_MAX_CONNECTIONS=25
DATABASE_SSL_MODE=disable

SERVER_ENV=development
SERVER_PORT=8443

LOGGING_LEVEL=debug
LOGGING_FORMAT=json